/*
Copyright © 2018 Dennis Schulmeister-Zimolong

E-Mail: dhbw@windows3.de
Webseite: https://www.wpvs.de/

Dieser Quellcode ist lizenziert unter einer
Creative Commons Namensnennung 4.0 International Lizenz.
*/

.margin {
    margin-bottom: 1em;
}

/*Buttons Grün*/
.icon-pencil
{
  background-color: green;  
  padding: 0.5em;
  border: none;
  color: white;
  border-radius: 0.2em;
}

.icon-trash
{
  background-color: green;  
  padding: 0.5em;
  border: none;
  color: white;
  border-radius: 0.2em;
}




